@tailwind base;
@tailwind components;
@tailwind utilities;

.f-sans {
  font-family: "Roboto", sans-serif;
}
.f-serif {
  font-family: "Old Standard TT", serif;
}
.f-type {
  font-family: "WindSong", cursive;
}
.f-cinzel {
  font-family: "Cinzel Decorative", cursive;
}
.f-over {
  font-family: "Overlock", cursive;
}

button {
  padding: 0.6em 0.8em;
  border-radius: 0.3em;
}

main#main.closed {
  overflow: hidden;
}
main#main > .cover {
  position: absolute;
  margin-top: -100vh;
  @apply transition-all duration-500 ease-out;
}
main#main.closed > .cover {
  margin-top: 0;
}

.img-bordered::before {
  background-image: url("/img/border.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.img-bordered-100::before {
  background-image: url("/img/border-100.png");
}
.framed {
  background: url("/img/frame.png") no-repeat center center;
  background-size: contain;
}
.frame-c1 {
  background: url("/img/frame-c1.png") no-repeat center center;
  background-size: contain;
}
.frame-c2 {
  background: url("/img/frame-c2.png") no-repeat center center;
  background-size: contain;
}
.bg-1 {
  background: url("/img/bg-1.jpg") no-repeat bottom center fixed;
  background-size: cover;
}

.my-scrollbar {
  @apply scrollbar scrollbar-track-black/30 scrollbar-thumb-rounded-xl scrollbar-track-rounded-xl scrollbar-w-1.5;
}
body {
  @apply scrollbar scrollbar-track-main-00 scrollbar-thumb-rounded-xl scrollbar-track-rounded-xl scrollbar-thumb-main-500 scrollbar-w-2.5;
}
